%fieldset
  %legend Insider Announcement
  
  .required
    = f.label :title
    = f.text_field :title
  %div
    = f.label :body
    = f.text_area :body, :class => 'textile'
  %div
    = f.label :state, 'Current state'
    = f.select :state, @site_bulletin.available_states.map{|s| [s.to_s.titleize,s.to_s]}
    %span
      %strong Legend:
      %br/
      &nbsp;&nbsp; Draft - Initial stage. In the process of setting up.
      %br/
      &nbsp;&nbsp; Published - Viewable on the site
      %br/ 
      &nbsp;&nbsp; Archived - Removed from site