%h1 Become an Edison Nation Insider!
%hr.double.clear
%p.large
  Sorry, you are not logged in, but you can 
  %a.button.green.medium{:href => "/login"}
    log in
  OR
  %a.button.red.medium{:href => "/membership/"}
    become an Insider right now &rsaquo;
  %br
  %span.upgrade-top
    Insider Membership is just $9.25/month
    %br
    Upgrade now and receive 10,000 points!
.hr.double.clear
%p
  Here are some of the features that you're missing by not being an Edison Nation Insider:

.pod
  .span-11
    %h3
      Insider Tips & Announcements
    %p
      Be the first to hear of upcoming searches, events and updates from the Edison Nation team.
    %h3
      Office Hours
    %p
      Talk directly with successful inventors, the Edison Nation team and special guests during the monthly Office Hours events.
    %h3
      Chat
    %p
      Chat and share stories with other Insiders online.
  .span-7.last
    = image_tag 'features/chat.jpg', :class =>"prepend-top"

.pod
  .span-7
    %p
      = image_tag 'features/open-search.png'
  .span-11.last
    %h3
      Open Searches
    %p
      Edison Nation often hears you have that million-dollar idea people need to know about, but we don’t have the right search for you. 
    %p
      The Open Search - held twice a year in June and December - gives Insiders the opportunity to submit new ideas from any product category. It works just like our sponsor-specific Live Product Searches, except we’ll work with any consumer goods retailer or manufacturer in any mass-appeal category
.pod
  .span-11
    %h3
      20% Discount on Live Product Search Submissions
    %p
      Save $5 off each Live Product Search Submission.
    %h3
      Free Opt-Ins
    %p
      Every idea you submit is safely stowed in "My Ideas." Increase your chances of success by opting in your stellar ideas to more than one search. Every Edison Nation member can do this, but as an Insider, you get to do this for free.
  .span-7.last
    = image_tag 'features/discount.jpg'
#insider-points.span-17.last
  .span-7
    = image_tag 'features/insider-points.png'
  .span-10.last
    %h3
      Insider Points
    %p
      Insiders earn member reward points for participating in our Live Product Searches. Earn more points for each stage your idea passes. Reach 50,000 and receive a free Live Product Search submission.
      %strong
        Upgrade now and receive 10,000 points.
.pod
  .span-11
    %h3
      LPS Review Priority
    %p
      Every Edison Nation member gets their own dashboard. But as an Insider, your ideas are flagged and reviewed first.
    %h3
      Feedback on R8
    %p
      As an Edison Insider, our team will provide feedback if your idea makes it to the final presentation stage (G7) but is not selected by the sponsor. This feedback will shed some light on the question of why the sponsor ultimately decided not to move forward with your idea.
  .span-7.last
    = image_tag 'features/lps-review.png'
.pod
  .span-7
    = image_tag 'features/pros-videos.jpg'
  .span-11.last
    %h3
      Learn from the Pros Videos
    %p
      Hours of footage go into each Learn from the Pros segment on
      %em
        Everyday Edisons
      but we only have time to air 2 minutes per episode. Dig deeper and learn from experts like Jeff Bezos and James Dyson in the full-length interviews online.
.pod
  .span-11
    %h3
      Expert Video Conferences
    %p
      Insiders get the chance to take part in live monthly video chats with industry experts and professional inventors. With this direct access, Insiders can ask questions and get real world advice from the experts.
  .span-7.last
    = image_tag 'features/expert-video.jpg'
.pod
  .span-7
    = image_tag 'features/episode.jpg'
  .span-11.last
    %h3
      Early Access to
      %em
        Everyday Edisons
    %p
      We want to make
      %em
        Everyday Edisons
      available to everyone, but Insiders can see Season 3 episodes weeks before they're posted on Hulu. 
.pod
  .span-11
    %h3
      Innovation Store Discounts
    %p
      Insiders receive special discounted pricing of up to 55% off in our online innovation store AND free shipping on all products.
  .span-7.last
    = image_tag 'features/shop.jpg'

.pod
  %h3
    Free
    %em
      Inventors Digest
    Magazine Subscription
  .span-9
    %p
      For nearly 25 years,
      %em
        Inventors Digest
      has been dedicated to idea people. Featuring first person inventor insights, a monthly Q & A with the USPTO, and columns from industry professionals, 
      %em
        Inventors Digest 
      explores all angles of innovation. Insiders receive a free print subscription each month.
    %h3
      Access to the Electronic Archives
    %p
      Discover a wealth of knowledge in the electronic archives of
      %em
        Inventors Digest
      which includes PDF issues of each magazine, newsletters, and the "best of" collection.
  .span-9.last
    = image_tag 'features/inventors-digest.jpg'
.pod.center
  %h3
    Ready to Upgrade?
  %p
    %a#upgrade.button.red.bigrounded{:href => "/membership/"} 
      Become an Insider &rsaquo;
  %span.upgrade-bottom
    Insider Membership is just $9.25/month
    %br
    Upgrade now and receive 10,000 points!