- content_for :page_title, 'Issues'

%h1= "Issues"

%table.data
  %thead
    %tr
      %th ID
      %th Title
      %th Short Description
      %th PDF
      %th{:colspan => "2"}
  %tbody
    - @issues.each do |issue|
      %tr
        %td= issue.id
        %td= link_to issue.title, admin_issue_path(issue)
        %td= issue.short_description
        %td= issue.pdf_file_name
        %td.actions= link_to 'Edit', edit_admin_issue_path(issue)