- content_for :page_title, 'Video Categories'

%h1 Video Categories
    
%table.data
  %thead
    %tr
      %th ID
      %th Title
      %th{:colspan => "2"}
  %tbody
    - @video_categories.each do |vc|
      %tr
        %td= vc.id
        %td
          = link_to vc.title, admin_video_category_path(vc)
          = "(#{link_to pluralize(vc.videos.size, 'Video'), admin_video_category_videos_path(vc)})"
        %td= link_to 'Edit', edit_admin_video_category_path(vc)