- content_for :title, t('users.reset_password.title')

- form_for @user, :url => reset_password_path, :html => {:method => :post} do |f|
  %fieldset
    = hidden_field_tag 'reset_code', @user.reset_code
    
    = f.error_messages
    
    = required_field_legend
    
    .required
      = f.label :password, t('users.reset_password.password')
      = f.password_field :password
      
    .required
      = f.label :password_confirmation, t('users.reset_password.password_confirmation')
      = f.password_field :password_confirmation
      
    %div
      = f.submit t('users.reset_password.title')