= f.error_messages :object_name => 'address'
.required
  = f.label :first_name, t('users.edit.first_name')
  = f.text_field :first_name
.required
  = f.label :last_name, t('users.edit.last_name')
  = f.text_field :last_name
.required
  = f.label :address_1, t('users.edit.contact_information.address_1')
  = f.text_field :address_1
%div
  = f.label :address_2, t('users.edit.contact_information.address_2')
  = f.text_field :address_2
.required
  = f.label :city, t('users.edit.contact_information.city')
  = f.text_field :city
.required
  = f.label :state, t('users.edit.contact_information.state')
  = state_selector(f)
.required
  = f.label :country, t('users.edit.contact_information.country')
  = country_selector(f)
.required
  = f.label :postal_code, t('users.edit.contact_information.postal_code')
  = f.text_field :postal_code