#progress_explanation{:style => 'display:none'}
  %p
    = image_tag('lps/thermo/pass-stage-1.png', :alt => 'passed stage 1')
    %strong= t('shared.progress.stage_1')
    %em= t('shared.progress.title_1')
    = t('shared.progress.text_1')

  %p
    = image_tag('lps/thermo/pass-stage-2.png', :alt => 'passed stage 2')
    %strong= t('shared.progress.stage_2')
    %em= t('shared.progress.title_2')
    = t('shared.progress.text_2')

  %p
    = image_tag('lps/thermo/pass-stage-3.png', :alt => 'passed stage 3')
    %strong= t('shared.progress.stage_3')
    %em= t('shared.progress.title_3')
    = t('shared.progress.text_3')

  %p
    = image_tag('lps/thermo/pass-stage-4.png', :alt => 'passed stage 4')
    %strong= t('shared.progress.stage_4')
    %em= t('shared.progress.title_4')
    = t('shared.progress.text_4')

  %p
    = image_tag('lps/thermo/pass-stage-5.png', :alt => 'passed stage 5')
    %strong= t('shared.progress.stage_5')
    %em= t('shared.progress.title_5')
    = t('shared.progress.text_5')

  %p
    = image_tag('lps/thermo/pass-stage-6.png', :alt => 'passed stage 6')
    %strong= t('shared.progress.stage_6')
    %em= t('shared.progress.title_6')
    = t('shared.progress.text_6')

  %p
    = image_tag('lps/thermo/pass-stage-7.png', :alt => 'passed stage 7')
    %strong= t('shared.progress.stage_7')
    %em= t('shared.progress.title_7')
    = t('shared.progress.text_7')

  %p
    = image_tag('lps/thermo/pass-stage-8.png', :alt => 'passed stage 8')
    %strong= t('shared.progress.stage_8')
    %em= t('shared.progress.title_8')
    = t('shared.progress.text_8')
    
  %p
    = image_tag('lps/thermo/fail-stage-5.png', :alt => 'failed stage 5')
    %strong= t('shared.progress.not_selected')
    %em= t('shared.progress.not_chosen')
    = t('shared.progress.text_failed')