%h2 About Edison Nation
= image_tag 'about/banner.jpg', :class => 'banner'
%p Edison Nation is a safe place for idea people to discover opportunity and share "in the trenches" inventing stories from around the world.
%p Thousands of people use Edison Nation to get their ideas in front of retailers and manufacturers, to store those ingenious ideas, keep up with inventive friends, and learn along the way what it takes to create and introduce a successful product.
%p Edison Nation is here to protect you and your ideas.
%h3 How We Work With You
%p Every day, the Edison Nation team lives and breathes innovation: whether it's reviewing product concepts, signing the dotted line on a licensing deal or testing a prototype, we are here to bring you access to success.
%p
  Members take part in this community for all sorts of reasons. To
  = succeed "." do
    %a{:href => "http://blog.edisonnation.com/"} read our blog
  To
  = succeed "." do
    %a{:href => "http://www.edisonnation.com/topics"} banter on the forums
  To finally see if that rockstar idea has potential.
%p In turn, we strive to bring each of you the best of the best - from education to major financial opportunities - within this complex world of product design, development and licensing that we just can't get enough of.
%hr.clear
%h3 The Company
= image_tag 'about/logo-edison-nation.png', :class => 'right'
%p Simply put, Edison Nation is for idea people.
%p
  What began with PBS' Emmy award-winning
  = succeed "," do
    %a{:href => "http://www.everydayedisons.com/", :style => "font-style:italic;"} Everyday Edisons
  has evolved into an innovation platform used by creative people from around the world.
%p We believe that most everyone has great ideas for new product concepts or inventive uses for what's already out there. The Edison Nation team helps carry our members' raw ideas into sought-after new products and technologies.
.span-10.colborder
  %h3 Opportunity
  %p Edison Nation's team brings your voice and ideas to major U.S. companies in need of innovation and inspiration. We believe each Edison Nation member is capable of offering that spark of innovation that will become tomorrow's leading product, technology or brand name.
  %p Companies host Live Product Searches through our platform, working with our product management team to define their brands' needs and wish-list product line additions. Each Live Product Search gives you the chance to pitch your idea - or in many cases, several ideas - for safe and secure consideration.
  %p We use an eight-stage review process to assess your idea with the company's needs in mind. Throughout the review, you receive status updates through your profile's custom dashboard. We present the leading ideas to our clients, and keep you posted on their selections through our forums and your dashboard.
.span-7.last
  %h3 Community
  %p Our Edison Nation inventors are an opinionated bunch. Our forums are outspoken, can make you laugh, make you think and may even encourage you to stir the pot. No matter what, each Edison Nation member is here to support one another, for all share this livelihood of inventing.
  %p
    We invite and encourage you to actively participate in today's debate and discussion in the
    = succeed "," do
      %a{:href= => "/topics/", :title => 'Forums'} forums
    and collaborate with fellow members and the Edison Nation team. Whether it's just for fun or for insider information, our forums give you something to talk about.
%hr.clear
%h3 Education
= image_tag 'about/inventors-digest.jpg', :class => 'right'
%p There's plenty to know and learn about innovation, the patent process and how to bring a product idea to market. Edison Nation gathers reputable industry resources to help guide you, whether it's through first-hand advice from the "who's who" of innovation or offering up news of interest for the taking.
%p
  %a{:href= => "http://blog.edisonnation.com/", :title => 'Edison Nation Blog'}
    Our blog
  includes stories by industry veterans featured in
  = succeed "," do
    %a{:href= => "http://www.inventorsdigest.com/", :title => 'Inventors Digest',:style => "font-style:italic;"} Inventors Digest
  the longest-running industry magazine dedicated to innovation, and our very own Edison Nation team.
%hr.clear
%h3 Videos
= image_tag 'about/logo-everyday-edisons.png', :class => 'right'
%p The "Learn from the Pros" collection of interviews features knowledgeable insights from CEOs, executives and innovation pioneers, including Amazon's Jeff Bezos and Dyson's James Dyson.
%p
  Edison Nation produces PBS'
  = succeed "," do
    %em Everyday Edisons
  an Emmy award-winning series for educational programming and content on innovation. You can
  = succeed "." do
    %a{:href => "/videos/"} view episodes in high-def online
%hr.double.clear
%h3 Contact
%p
  If you are a company interested in partnering with us, please
  = succeed "." do
    %a{:href => "http://www.edisonnation.com/sponsor"} visit the Retailers and Manufacturers section
%p
  If you are a member of the media and would like further information, please
  = succeed "." do
    %a{:href => "mailto:press@edisonnation.com"} contact us
%p
  For technical and customer support needs, please visit
  = succeed "." do
    %a{:href => "http://support.edisonnation.com/"} support.edisonnation.com