- content_for :head do
  = stylesheet_link_tag 'preview'

%h1
  Preview of the New Edison Insider Features
%p
  On June 17th, all Gold Members will be automatically upgraded to Edison Insiders and locked in at the current rate!
%p
  We will be announcing new Insider features every day between now and June 17th.
%hr

.pod
  .span-9
    %h3
      Feedback on R8
    %p
      As an Insider, our team will provide feedback to you if your ideas makes it to the final presentation stage (G7) but is not selected by the sponsor. This feedback will shed some light on the question of why the sponsor ultimately decided not to move forward with your idea.
  .span-9.last
    %h3
      Free Opt-ins
    %p
      Every idea you submit is safely stowed away in "My Ideas." Increase your chances of success by opting in your stellar ideas to more than one search. Ever Edison Nation member can do this, but as an Insider, you get to do this for free.

.pod
  .span-11
    %h3
      Innovation Store Discounts
      %small
        [announced June 15]
    %p
      Insiders receive special discounted pricing of up to 55% off in our online innovation store AND free shipping on all products.
  .span-7.last
    = image_tag 'features/shop.jpg'

.pod
  .span-7
    = image_tag 'features/lps-review.png'
  .span-11.last
    %h3
      LPS Review Priority
      %small
        [announced June 14]
    %p
      Your Live Product Search submission(s) are processed and reviewed faster, which means you're on the fast track to feedback!


.pod
  .span-11
    %h3
      Open Searches
      %small
        [announced June 14]
    %p
      If you've got a great invention, but it doesn't fit any of the current Live Product Searches, then the Open Search is what you need to earn the opportunity to see your idea on store shelves. Open Searches will run twice a year.
  .span-7.last
    = image_tag 'features/open-search.jpg'


#insider-points.clear.span-17.last
  .span-7
    = image_tag 'features/insider-points.png'
  .span-10.last
    %h3
      Insider Points
      %small
        [announced June 11]
    %p
      You can earn Insider Points for submitting ideas, and you earn even more points for each stage your idea passes. Earn a free Live Product Search submission for every 50,000 points you earn.

.pod
  .span-11
    %h3
      20% Discount on Live Product Search Submissions
      %br
      %small
        [announced June 11]
    %p
      Save $5 off each Live Product Search Submission.
  .span-7.last
    = image_tag 'features/discount.jpg'

.pod
  .span-7
    = image_tag 'features/chat.jpg', :class =>"prepend-top"
  .span-11.last
    %h3
      Insider Tips & Announcements
      %small
        [announced June 9]
    %p
      Get Insider access to tips and announcements about new searches and special events.
    %h3
      Office Hours
      %small
        [announced June 7]
    %p
      As an Insider, you'll have the chance to talk directly with successful inventors, Edison Nation staff, and special guests during one of the monthly designated Office Hours events.
    %h3
      Insider Chat
      %small
        [announced June 9]
    %p
      Exclusive chat with other Insider members and Edison Nation staff.

.pod
  .span-11
    %h3
      Early Access to
      %em
        Everyday Edisons
      Season 3
      %small
        [announced June 8]
    %p
      We want to make
      %em
        Everyday Edisons
      available to everyone, but Insiders can see Season 3 episodes weeks before they're posted on Hulu.
  .span-7.last
    = image_tag 'features/episode.jpg'

.pod
  .span-7
    = image_tag 'features/pros-videos.jpg'
  .span-11.last
    %h3
      Learn From the Pros Videos
      %small
        [announced June 8]
    %p
      Hours of footage go into each Learn from the Pros segment on
      %em
        Everyday Edisons
      but we only have time to air 2 minutes per episode. Dig deeper and learn from experts like Jeff Bezos and James Dyson in the full-length interviews online. 
      
.pod
  .span-11
    %h3
      Expert Video Conferences
      %small
        [announced June 7]
    %p
      Live monthly video chat with industry experts and professional inventors! That means you have direct access to ask your questions and hear their tips and advice.
  .span-7.last
    = image_tag 'features/expert-video.jpg'

.pod
  %h3
    Free
    %em
      Inventors Digest
    Magazine Subscription
  .span-9
    %p
      For nearly 25 years,
      %em
        Inventors Digest
      has been the only magazine in the World dedicated to independent inventors and idea people. As an Insider, you will receive a free print subscription of Inventors Digest delivered to your door each month.
    %h3
      Access to the Electronic Archives
    %p
      Discover a wealth of knowledge in the electronic archives of
      %em
        Inventors Digest
      which includes PDF issues of each magazine, newsletters, and the "best of" collection.
  .span-9.last
    = image_tag 'features/inventors-digest.jpg'

.pod
  %p
    %a.upgrade{:href => "/membership/new"}
      = image_tag 'features/upgrade.png'