= f.error_messages

= required_field_legend

.required
  = f.label :title, t('user_albums.fields.title')
  = f.text_field :title

.required
  = f.label :description, t('user_albums.fields.description')
  = f.text_field :description