- content_for :page_title, t('user_albums.albums')

- content_for :title do
  = yield :page_title
  
- content_for :sidebar, render(:partial => 'users/profile_sidebar', :locals => {:user => @user})


= link_to t('user_albums.add_album'), new_user_album_path(@user), :class => 'add-album-button button green bigrounded' if current_user == @user

- @albums.each do |album|
  .gallery
    %span.float-right= pluralize(album.user_photos.count, t('user_albums.photo'))
    %h2= link_to h(album.title), user_album_path(@user, album)
    %p= album.description
    - unless album.user_photos.empty?
      = render :partial => 'user_photos/photos', :locals => { :style => :thumb, :photos => album.user_photos.limited(6), :break_after => 6 }
    = add_photo_message(album)