- hide_sponsor = hide_sponsor.nil? ? false : hide_sponsor

%h3 Live Product Search Success Stories
%p 
  These Edison Nation members' ideas have been acquired and are on the way to store shelves.

%ul#lps-winners{:class => 'three-col'}
  %li
    = link_to "Bill Nguyen", "/users/billnguyen"
    = "(Spencer's)" unless hide_sponsor
  %li
    = link_to "Dick Ho", "/users/dickho"
    = "(Westpoint Home)" unless hide_sponsor
  %li
    = link_to "Matthew Fleming", "/users/sparkbugg"
    = "(Spencer's)" unless hide_sponsor
  %li
    = link_to "Luis Rodriguez", "/users/developer"
    = "(Westpoint Home)" unless hide_sponsor
  %li
    = link_to "John DeTibiriis", "/users/johnd"
    = "(Spencer's)" unless hide_sponsor
  %li
    = link_to "Holly Tucker", "/users/hollyshoe"
    = "(Westpoint Home)" unless hide_sponsor
  %li
    = link_to "Mike G", "/users/mginjhw"
    = "(Spencer's)" unless hide_sponsor
  %li
    = link_to "Galen Reitz", "/users/galen"
    = "(Westpoint Home)" unless hide_sponsor
  %li
    = link_to "John Larkin", "/users/icecreamman"
    = "(Springs Creative)" unless hide_sponsor
  %li
    = link_to "Phillip Avery", "/users/plavery85"
    = "(ASOTV)" unless hide_sponsor
  %li
    = link_to "Steve Nelson", "/users/billneedle"
    = "(Spirit Halloween)" unless hide_sponsor
  %li
    = link_to "Robert Coombs", "/users/rcoombs"
    = "(BYB Beverage)" unless hide_sponsor
  %li
    = link_to "Lynn Garfield", "/users/itsa123solution"
    = "(Springs Creative)" unless hide_sponsor
  %li
    = link_to 'John Zanzucchi', '/users/vzoocwh'
    = "(Christmas Tree Shops)" unless hide_sponsor
  %li
    = link_to "David Belmonte", "/users/seagedes57"
    = "(Lifetime Brands)" unless hide_sponsor
  %li
    = link_to 'Anna Scolaro', '/users/annascolaro'
    = "(Bed Bath and Beyond)" unless hide_sponsor
  %li
    = link_to "Carlos Beltran", "/users/piolo007"
    = "(Lifetime Brands)" unless hide_sponsor
  %li
    = link_to 'Verne Thompson', '/users/verne7'
    = "(Bed Bath and Beyond)" unless hide_sponsor
  %li
    = link_to "Judy Head", "/users/judith256"
    = "(ASOTV)" unless hide_sponsor
  %li
    = link_to 'Daren Danelski', '/users/flyingpole'
    = "(ASOTV)" unless hide_sponsor
  %li
    = link_to "Scott Maust", "/users/mazek101"
    = "(ASOTV)" unless hide_sponsor
  %li
    = link_to 'Eric Huber', '/users/vonhuber'
    = "(ASOTV)" unless hide_sponsor
    