- content_for :page_title, t('dashboard.name_searches.page_title')



- content_for :sidebar do
  = render :partial => 'shared/dashboard/profile_actions'
  = render :partial => 'shared/dashboard/insider_points'

%h2.panel-title= t('dashboard.name_searches.current_name_search')

- if @surveys.any?
  = render :partial => 'dashboards/survey/list', :locals => {:surveys => @surveys}
- else
  %p
    %em= t('dashboard.name_searches.no_name_searches_running')


%h2.panel-title= t('dashboard.name_searches.my_names')
- if @responses.any?
  = render :partial => 'dashboards/survey/responses', :locals => {:responses => @responses}
  %br.clear

  = will_paginate @responses
- else
  %p
    %em= t('dashboard.name_searches.no_names_submitted')