- content_for :title, @video_category.title

- content_for :sidebar do
  = render :partial => 'videos/sidebar'

- @video_category.videos.active.each do |video|
  - unless @video_category.videos.active.empty?
    - div_for video do 
      %ul.videos
        %li
          = link_to image_tag(video.image.url, :alt => video.title), video_category_video_path(video.video_category, video)
          = image_tag('freeVideo.gif', :class => 'free-video') if video.free?
          %h3= h video.title
          %p= h truncate(video.description, 120)