= t('survey_responses.agreement.text_1')
%br/
= t('survey_responses.agreement.text_2')
%br
= t('survey_responses.agreement.text_3')
%br
= t('survey_responses.agreement.text_4')
= number_to_currency response.submission_fee
= t('survey_responses.agreement.text_5')
  
    