%h3.section-title More information about Live Product Searches at Edison Nation
%p 
  Retailers and manufacturers need innovative products. The problem is they are often hesitant to work with independent idea people like you because they don't have the infrastructure, time or process to pick that one home run from the thousands of good ideas (and bad ones) they receive. Edison Nation has developed a patent-pending screening process through our experience with the television series
  %em Everyday Edisons.
  This allows us to process thousands of ideas each month to match the needs of the retail community, enabling us to find the best ideas to acquire and bring to store shelves through our network of major retailers and manufacturers.
%p Edison Nation has collaborated with major retailers and manufacturers to help you get your ideas to market.

%h2 Here's how Live Product Search works:
%ul.list
  %li We work with a retailer or manufacturer to identify a market segment that needs innovation and we create the search, including any specific requirements.
  %li You submit your innovative ideas online through our confidential Live Product Search database (prototypes are great but all we really need is a great idea).
  %li 
    If your idea is selected for commercialization by us, you will receive a market-leading annuity from Edison Nation
    = "(#{link_to('how much?', '#', :class => 'annuity-link')})"
    
    = render :partial => 'shared/annuity'

%br/
%br/

%h3.section-title
  %a{:name => 'FAQ'}Frequently Asked Questions
  
%h5 
  %a{:href => '#faq-once-i-submit-my-idea-how-do-i-know-if-my-idea-was-selected'} Once I submit my idea, how do I know if my idea was selected?
%h5 
  %a{:href => '#faq-where-can-i-download-and-review-the-legal-agreement-for-live-product-search'} Where can I download and review the legal agreement for Live Product Search?
%h5           
  %a{:href => '#faq-why-do-i-have-to-pay'}Why do I have to pay $25? 
%h5           
  %a{:href => '#faq-can-i-submit-an-idea-no-matter-where-i-am-in-the-world'}Can I submit an idea no matter where I am in the world?
%h5           
  %a{:href => '#faq-if-my-idea-is-not-selected-will-i-get-my-money-back'}If my idea is not selected, will I get my money back?
%h5           
  %a{:href => '#faq-if-my-idea-is-selected-for-commercialization-how-much-will-i-be-paid'}If my idea is selected for commercialization, how much will I be paid?
%h5 
  %a{:href => '#faq-when-will-i-know-if-you-want-to-turn-my-idea-into-a-product'}When will I know if you want to turn my idea into a product?
%h5
  %a{:href => '#faq-what-is-edison-nation'} What is Edison Nation?
%h5           
  %a{:href => '#faq-what-is-the-everyday-edisons-tv-show'} What is the Everyday Edisons TV Show?
%h5           
  %a{:href => '#faq-what-is-in-it-for-the-inventor-innovator'} What is in it for the inventor/innovator?
%h5           
  %a{:href => '#faq-can-i-opt-out-my-idea'} Can I opt-out my idea?
%h5           
  %a{:href => '#faq-do-i-need-a-patent-to-submit-my-idea'} Do I need a patent to submit my idea?
%h5           
  %a{:href => '#faq-does-edison-nation-review-ideas-outside-of-the-live-product-searches'} Does Edison Nation review ideas outside of the Live Product Searches?
%h5           
  %a{:href => '#faq-how-do-i-protect-my-idea'} How do I protect my idea?
%h5           
  %a{:href => '#faq-how-do-i-submit-an-existing-idea-to-a-new-search'} How do I Submit an Existing Idea to a New Search?
%h5           
  %a{:href => '#faq-how-do-i-edit-an-existing-or-saved-submission'} How do I Edit an Existing (or Saved) Submission?
%h5           
  %a{:href => '#faq-i-have-a-patent-can-i-submit-and-if-selected-what-happens'} I have a patent, can I submit? And if selected what happens?
%h5           
  %a{:href => '#faq-i-have-just-submitted-an-idea-how-long-will-it-take-to-hear-back'} I have just submitted an idea, how long will it take to hear back?
%h5           
  %a{:href => '#faq-what-does-final-consideration-mean'} What does "Final Consideration" mean?
%h5           
  %a{:href => '#faq-what-does-the-red-x-mean-i-had-submitted-my-idea-and-it-stopped-with-a-red-x-what-happens-if-my-idea-is-not-selected'} What does the red X mean? I had submitted my idea and it stopped with a red X. "What happens if my idea is NOT selected?"
%h5
  %a{:href => '#faq-what-if-i-still-have-questions'} What if I still have questions?
%br/
%br/

#faq-answers
  %a{:name => 'faq-once-i-submit-my-idea-how-do-i-know-if-my-idea-was-selected'}
    %h5 Once I submit my idea, how do I know if my idea was selected?
  %p As soon as you submit your idea, it will appear on your dashboard. As your idea progresses through each step of our patent-pending review process, you will be notified on your dashboard.
  %p
    %a{:href => '/login?return_to=/'} Click here to visit your Live Product Search dashboard.

  %a{:name => 'faq-where-can-i-download-and-review-the-legal-agreement-for-live-product-search'}
    %h5 Where can I download and review the legal agreement for Live Product Search?

  %p
    = link_to "Click here to download and review the Live Product Search Innovator Agreement.", document_path('innovator-agreement', :format => 'pdf')

  %a{:name => 'faq-why-do-i-have-to-pay'}
    %h5 Why do I have to pay $25? 
  %p  The first step of each and every submission displays a list of requirements that include the fee for the submission. The submission fee covers a portion of Edison Nation’s operating costs. Each entry will be reviewed by a team of Edison Nation product development and intellectual property experts. Your submission fee helps defray a portion of the actual cost of reviewing each submission. 

  %a{:name => 'faq-can-i-submit-an-idea-no-matter-where-i-am-in-the-world'}
    %h5 Can I submit an idea no matter where I am in the world?
  %p  Yes, this program is global.  We’d like your ideas no matter where you’re located; however, you must be at least 18 years old to submit an idea.  Innovators under 18 can submit their ideas through a parent or legal guardian.  

  %a{:name => 'faq-if-my-idea-is-not-selected-will-i-get-my-money-back'}
    %h5 If my idea is not selected, will I get my money back?
  %p  No. Each entry will be reviewed by a team of product development and intellectual property experts. Your submission fee helps defray a portion of the actual cost of reviewing each submission.  If your idea is not selected, you can opt out of the Live Product Search database at Edison Nation and pursue it independently.

  %a{:name => 'faq-if-my-idea-is-selected-for-commercialization-how-much-will-i-be-paid'}
    %h5  If my idea is selected for commercialization, how much will I be paid?
  %p  If your idea is selected for commercialization by Edison Nation, you will receive a $2,500 advance payment from Edison Nation and a share of sales for up to 20 years. Please read the Edison Nation Innovator Agreement, which fully outlines the applicable payment terms

  %a{:name => 'faq-when-will-i-know-if-you-want-to-turn-my-idea-into-a-product'}
    %h5 When will I know if you want to turn my idea into a product?
  %p  Each person who submits an idea can follow the progress of their idea through the screening process by watching their Edison Nation dashboard, which has eight stages. To view your dashboard, just visit <a href="http://www.edisonnation.com">www.edisonnation.com</a> and click "log in."

  %p - If your product makes it to the eighth or "Success" stage, an Edison Nation team member will contact you shortly thereafter.

  %p - If your product is selected Edison Nation will become the owner and care taker of your intellectual property, in exchange for your $2,500 advance and annual payments. Please see the Edison Nation Innovator Agreement for full details on your relationship with Edison Nation. 

  %a{:name => 'faq-what-is-edison-nation'}
    %h5 What is Edison Nation?
  %p  Edison Nation is the leading online community and resource dedicated to inventors and idea people that helps independent inventors get their ideas, products and patents commercialized. Edison Nation produces PBS’ <em>Everyday Edisons</em>, publishes <em>Inventors Digest</em> and has partnered with the Edison Innovation Foundation.

  %a{:name => 'faq-what-is-the-everyday-edisons-tv-show'}
    %h5 What is the <em>Everyday Edisons</em> TV Show?
  %p  <em>Everyday Edisons</em> is PBS’ nationally televised, Emmy award-winning series that shows how extraordinary ideas from ordinary people get made, manufactured, and sent to store shelves.

  %a{:name => 'faq-what-is-in-it-for-the-inventor-innovator'}
  %h5 What is in it for the inventor/innovator?
  %p 
    The innovators whose products are selected to take to market will receive a $2,500 advance and up to 20 years of annual payments.  See the Edison Nation 
    = link_to 'Innovator Agreement', document_path('innovator-agreement', :format => 'pdf')
    for full terms.

  %a{:name => 'faq-can-i-opt-out-my-idea'}
    %h5 Can I opt-out my idea?
  %p Yes. If your idea is not selected – or at any time up until your idea reaches Stage 7 ("Finalist") – you can opt out of the Live Product Search database at Edison Nation and pursue it independently. 

  %a{:name => 'faq-do-i-need-a-patent-to-submit-my-idea'}
    %h5 Do I need a patent to submit my idea?
  %p No.

  %a{:name => 'faq-does-edison-nation-review-ideas-outside-of-the-live-product-searches'}
    %h5 Does Edison Nation review ideas outside of the Live Product Searches?
  %p No.

  %a{:name => 'faq-how-do-i-protect-my-idea'}
    %h5 How do I protect my idea?
  %p We cannot give legal advice but can recommend discussing patent protection with a registered patent attorney or patent agent. You can also visit the official government website for patent info: <a href="http://www.uspto.gov">www.uspto.gov</a>.

  %a{:name => 'faq-how-do-i-submit-an-existing-idea-to-a-new-search'}
    %h5 How do I Submit an Existing Idea to a New Search?
  %p Edison Nation members who have submitted an idea to one search can choose to "opt in" to a different search if they choose.

  %a{:name => 'faq-how-do-i-edit-an-existing-or-saved-submission'}
    %h5 How do I Edit an Existing (or Saved) Submission?
  %p Log into you Edison Nation account, click the Live Product Search tab, and click "edit submission."

  %a{:name => 'faq-i-have-a-patent-can-i-submit-and-if-selected-what-happens'}
    %h5 I have a patent, can I submit? And if selected what happens?
  %p Yes. If selected Edison Nation will be assigned the rights to your patent in exchange for a $2,500 advance and up to 20 years of annual payments. Please see the terms of the Edison Nation Innovator Agreement.

  %a{:name => 'faq-i-have-just-submitted-an-idea-how-long-will-it-take-to-hear-back'}
    %h5 I have just submitted an idea, how long will it take to hear back?
  %p Log into your Edison Nation account and follow your dashboard through the eight review stages. Always keep an eye on your dashboard for the latest updates.

  %a{:name => 'faq-what-does-final-consideration-mean'}
    %h5 What does "Final Consideration" mean?
  %p This doesn’t guarantee development, but it’s a good thing. Final consideration means one of the nation’s leading manufacturers or retailers is looking at your idea.   

  %a{:name => 'faq-what-does-the-red-x-mean-i-had-submitted-my-idea-and-it-stopped-with-a-red-x-what-happens-if-my-idea-is-not-selected'}
    %h5 What does the red X mean? I had submitted my idea and it stopped with a red X. "What happens if my idea is NOT selected?"
  %p The red X means your idea has not been selected. If your idea is not selected the rights to your idea automatically revert back to you – all you have to do is click "opt out" next to your idea in your Live Product Search database. Of course, it might be a better fit for a different search – especially if you made it to Stage 7 – so you might consider leaving it in the database and giving it another shot. 

  %a{:name => 'faq-what-if-i-still-have-questions'}
    %h5 What if I still have questions?
  %p  Please visit <a href="http://support.edisonnation.com">support.edisonnation.com</a> if you have additional questions.