%title
  = t('layouts.title')
  = yield(:page_title) || yield(:title) || t('layouts.sub_title')
%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
%link{ :rel => 'shortcut icon', :href => "#{request.protocol}www.edisonnation.com/favicon.ico"}/

= stylesheet_link_tag 'tesla/blueprint/screen', 'tesla/application', 'tesla/dashboard','tesla/ideas'
= stylesheet_link_tag 'admin/colorbox','jquery/jquery-ui', 'thickbox'
= javascript_include_tag 'jquery/jquery.js', 'jquery/ui/ui.core.js', 'jquery/ui/ui.dialog.js', 'jquery/jquery.bgiframe.js', 'jquery/jquery.dimensions.js', 'jquery/jquery.timeago.js', 'jquery/jquery.cookie.js', 'application', 'form', 'thickbox', 'tooltip', :cache => 'site'
= javascript_include_tag "user_session.js?#{Time.now.to_i}"
= javascript_include_tag 'dashboard'
= javascript_include_tag 'admin/lps/colorbox'

/[if lt IE 8]
  = stylesheet_link_tag 'tesla/blueprint/ie.css'
/[if lt IE 7]
  = stylesheet_link_tag 'tesla/ie-pleasediealready.css'