= f.error_messages

= required_field_legend

.required
  = f.label :code
  = f.text_field :code
  %span No spaces allowed
  
.required
  = f.label :description
  = f.text_field :description
  %span 5% off <em>Everyday Edisons</em> Season 2 DVD
  
.required
  = f.hidden_field :discountable_type, :value => 'Product'
  = f.label :discountable_id, 'Product'
  = f.select :discountable_id, Product.all.map {|product| [h(product.name), product.id]}, :include_blank => "-- Select a product --"

.required
  = f.label :discount_type
  = f.select :discount_type, [['% - percent off','%'],['$ - amount off','$'],['FREE','FREE']]

.required
  = f.label :discount, 'discount (%/$)'
  = f.text_field :discount
  
%div
  = f.label :expires_at
  = f.datetime_select :expires_at, :prompt => true
  
%div
  = f.label :max_redemptions
  = f.text_field :max_redemptions