- content_for :page_title, @photo.caption

- content_for :sidebar, render(:partial => 'users/profile_sidebar', :locals => {:user => @user})

- content_for :title do
  - if current_user == @user
    = button_to t('user_photos.show.delete'), user_album_photo_path(@user, @album, @photo), :method => :delete, :confirm => t('user_photos.show.delete_confirm'), :class => 'delete-photo-button button red small right', :id => "delete_#{dom_id @photo}"
    = link_to t('user_photos.show.edit'), edit_user_album_photo_path(@user, @album, @photo), :class => 'edit-photo-button button green medium right'
  = @photo.caption
= image_tag @photo.src.url(:large)