!!! Transitional
%html{ html_attrs("en_us") }
  %head
    %title
      Edison Nation &mdash;
      = yield(:page_title) || "Inventors helping inventors. From the producers of PBS' Everyday Edisons"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :rel => 'shortcut icon', :href => "#{request.protocol}www.edisonnation.com/favicon.ico"}/
    
    = render :partial => 'shared/head'
    = javascript_include_tag 'dashboard'
    
    = yield(:head)
  %body{:id => controller.controller_name, :class => "dashboard #{controller.action_name}"}
    = render :partial => 'shared/notifier_banner'
    #wrapper
      #header
        %a{:href => '/'}
          %h1#logo Edison Nation
        
        = render :partial => 'shared/header_links'
        = render :partial => 'shared/session_buttons'
      #nav-bar
        = render :partial => 'shared/navigation'
      #content-wrapper
        = render :partial => 'shared/dashboard_navigation'
        
        #content
          = render :partial => 'shared/flash_messages', :locals => {:flash => flash}
      
          = yield
        %div.bottom
        
        #sub-content
          %ul#mini-panels
            %li.top
            %li.first
              #latest-issue
                - @issue = Issue.latest
                - if @issue
                  = link_to(image_tag(@issue.pdf(:thumb)), issue_path(@issue))
                  .information
                    %p
                      %strong Current Issue:
                      %br/
                      = link_to @issue.title, issue_path(@issue)
                    %p
                      = link_to '&raquo; View ID archive', issues_path
              
              %br/
              %br/
            %li.last
              = render :partial => 'dashboards/success_stories', :locals => { :hide_sponsor => true }
            %li.bottom
      #sidebar
        %h2= link_to "#{@user.name} (#{@user.login})"
        
        #profile-actions
          = badge_for(@user)
          = link_to 'View/Edit Profile', user_path(@user), :class => 'view-profile-action'
          = link_to 'Add Photos/Videos', user_path(@user), :class => 'view-media-action'
          = link_to 'My Micro Blog', user_blog_entries_path(@user), :class => 'view-blog-action'
          - if @user.member?
            = link_to 'Edison Insider', membership_path, :class => 'view-membership-action'
            %br.clear-left/
            = @user.reward_points
        .clear
        %h5 Forums
        = link_to "#{pluralize(Topic.created_after(@user.last_seen_at).count, 'new topic')} and #{pluralize(Post.created_after(@user.last_seen_at).count, 'new post')} in the forums", forums_path
        
        %h5 Friends
        = render :partial => 'users/avatars', :locals => {:style => :tiny, :users => prefer_avatars(@user.friends.random)}
        = link_to "&raquo; View All Friends", user_friends_path(@user)
        - if current_user.friend_requests.any?
          %br/
          = link_to "&raquo; #{pluralize(current_user.friend_requests.count, 'pending friend request')}", user_friend_requests_path(current_user)
        
        %h5 Invite Friends
        = render :partial => 'shared/invitation'
        
        %h5 Follow Edison Nation
        %ul.social-media
          %li= link_to 'Twitter', 'http://twitter.com/edisonnation', :class => 'action twitter', :target => '_blank'
          %li= link_to 'Facebook', 'http://facebook.com/EdisonNation', :class => 'action facebook', :target => '_blank'
        %br.clear-left/
        %br/
        
        = render :partial => 'shared/portrait'
        
        
    #footer
      = render :partial => 'shared/footer'
      
    = render :partial => 'shared/google_analytics'
    = yield :scripts